.c-homeCard {
  .c-homeCard__bottom-btn {
    border: none;
    background: $background__c-card;
    font-size: large;
    border-radius: 7px;
    padding: 1rem;
    box-shadow: 6px 6px 5px 1px rgba(0, 0, 0, 0.1);
  }
}
